@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form name="user" asp-controller="Home" asp-action="AddUserToDb">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" name="FirstName">
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" name="LastName">
    </div>
    <div class="form-group">
        <label for="Email">Email Address</label>
        <input type="email" class="form-control" name="Email">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" name="Password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>